<!DOCTYPE html>
<head>
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <!-- ... 第一個div放台北一日遊到登入註冊 ... -->
<div class="top">
    <div class="taipei">台北一日遊</div>
    <div class="rightpart">
        <div class="schedule">預定行程</div>
        <div class="user">登入/註冊</div>
    </div>
</div>
       <!-- ... 第二個div放享受一日休閒 ... -->
<div class="loge">
    <div>輕鬆享受台北一日休閒</div>
    <div>探索每個角落，體驗城市的深度旅遊行程</div>
    <form>
        <input type="text" placeholder="輸入景點名稱查詢">
        <button class="search-btn"><i class="fas fa-search"></i></button>
    </form>        
</div>
        <!-- ... 第三個div做的事情是創造box處理裡面的圖片 ... -->
<div class="main">
	<div class="box">
		<img ></img>
		<div class="wt">內容</div>
	</div>
</div>
</body>
</html>