.top{
	display: flex;
	
	height: 54px;
	left: 0px;
	top: 0px;
	justify-content: space-between;
	/* White */

	background: #FFFFFF;
}
.top>.taipei{
	display: flex;
	
	width: 150px;
	height: 34px;
	left: 0px;
	top: 0px;

	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	/* identical to box height, or 113% */


	/* Cyan 800 */

	color: #448899;
}
.rightpart{
	display: flex;
	justify-content:space-between;
	margin-left: 20px;
}

.schedule{
	display: flex;
	position: static;
	left: 11.9%;
	right: 11.9%;
	top: 29.41%;
	bottom: 29.41%;

	/* Body - Reg 16(13.3) */

	font-family: Noto Sans TC;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 13px;
	/* identical to box height, or 83% */


	/* Gray 800 */

	color: #666666;


	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 10px 0px;

}
.user{
	display: flex;
	position: static;
	left: 10.99%;
	right: 10.99%;
	top: 29.41%;
	bottom: 29.41%;

	/* Body - Reg 16(13.3) */

	font-family: Noto Sans TC;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 13px;
	/* identical to box height, or 83% */


	/* Gray 800 */

	color: #666666;


	/* Inside Auto Layout */

	order: 0;
	flex-grow: 0;
	margin: 10px 0px;
}