<!DOCTYPE html>

<head>
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/week4.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
	<!--手機概念必須加上這行-->

</head>

<body>
    <!-- ... 第一個div放台北一日遊到登入註冊 ... -->
    <nav>
        <div class="top">
            <h1>台北一日遊</h1>
            <div class="rightpart">
                    <div class="schedule" >預定行程</div>
                    <div class="user" id="sign_in">登入/註冊</div>               
            </div>
        </div>
    </nav>  
    <!-- 這裡放談跳視窗 -->
    <section>
        <!-- 這裡放登入畫面 -->
        <div class="signBox">
            <div class="decorator_bar"></div>
            <div class="loginBox">            
                <div class="sign_inText">登入會員帳號</div>
                <div class="X_mark"></div>
            </div>    
            <form > 
                <input type="email" placeholder="輸入電子信箱" name="email" class="inputEmail"><br>
                <input type="password" placeholder="輸入密碼" name="password" class="inputEmail"><br>
                <button class="signAccount">登入帳戶</button>
            </form>
            <div class="buttonText">還沒有帳號?點此註冊</div>
        </div>
        <!-- 這裡放註冊畫面 -->
        <div class="erollBox">
            <div class="decorator_bar"></div>
            <!-- 這個是白色部分包裹輸入框等等的地方 -->
            <div class="eroll">
                <div class="erollText">註冊會員帳號</div>
                <div class="X_marksec"></div>
            </div>
            <form > 
                <input type="email" placeholder="輸入姓名" name="name" class="inputEmail"><br>
                <input type="email" placeholder="輸入電子信箱" name="email" class="inputEmail"><br>
                <input type="password" placeholder="輸入密碼" name="password" class="inputEmail"><br>
                <button class="signAccount">登入帳戶</button>
            </form>
            <div class="textBox">
                <div class="haveAccount">已經有帳戶了?點此進入</div>
            </div>
        </div>
    </section>



    <!-- ... 第二個div放享受一日休閒 ... -->
    <div class="loge">
        <div class="logomax1200">
            <div class="text">
                <div class="relax">輕鬆享受台北一日休閒</div>
                <div class="city">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="searchBox">
                    <input type="text" placeholder="輸入景點名稱查詢" class="inputBox">
                    <button class="searchKeyword" id="searchKeyword"> 
                        <img src="../static/search.png">
                    </button>
                </div>
            </div>
            <div class="centerPicture">
                <img src="../static/welcome.png">
            </div>
        </div>
    </div>
    <!-- ... 第三個div做的事情是創造box處理裡面的圖片 ... -->
    <div id="bigbox">

    </div>
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    
    <script src="../static/week2.js"></script>
    <script src="../static/week3.js"></script>
    <script src="../static/week4.js"></script>
</body>

</html>