<!DOCTYPE html>
<head>
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="stylesheet" type="text/css" href="../static/css/thankyou.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
	<!--手機概念必須加上這行-->

</head>

<body>
    <!-- ... 第一個div放台北一日遊到登入註冊 ... -->
    <nav>
        <div class="top">
            <h1 class="taipeitrip">台北一日遊</h1>
            <div class="rightpart">
                    <div class="schedule">預定行程</div>
                    <div class="user">登入/註冊</div>               
            </div>
            <div class="logout">
                <div class="welcomeUser"></div>
                <div class="logoutbtn">登出</div>
            </div>
        </div>
    </nav>  
    <section>
        <!-- 這裡放登入畫面 -->
        <div class="signBox">
            <div class="decorator_bar"></div>
            <div class="loginBox">            
                <div class="sign_inText">登入會員帳號</div>
                <div class="X_mark"></div>
            </div>    
            <form > 
                <input type="email" placeholder="輸入電子信箱" name="email" class="inputEmail"  id="signemail" required><br>
                <input type="password" placeholder="輸入密碼" name="password" class="inputEmail" id="signpassword"   required><br>
                <button class="signAccount">登入帳戶</button>
            </form>
            <div class="erollbuttonText">還沒有帳號?點此註冊</div>
            <p id="signok"></p>
        </div>
        <div class="erollBox">
            <div class="decorator_bar"></div>
            <!-- 這個是白色部分包裹輸入框等等的地方 -->
            <div class="eroll">
                <div class="erollText">註冊會員帳號</div>
                <div class="X_marksec"></div>
            </div>
            <form > 
                <input type="name" placeholder="輸入姓名" name="name" class="inputEmail" id="erollname"  required><br>
                <input type="email" placeholder="輸入電子信箱" name="email" class="inputEmail" id="erollemail"  required><br>
                <input type="password" placeholder="輸入密碼" name="password" class="inputEmail"  id="erollpassword"  required><br>
                <button class="erollAccount">註冊帳戶</button>
            </form>
            <div class="textBox">
                <div class="haveAccount">已經有帳戶了?點此進入</div>
            </div>
            <p id="erollok"></p>
        </div>
    </section>
    <hr>

    <!-- 這裡放訂購成功的訊息 -->
    <div class="sucessBox">    
        <div>您的旅程已經訂購成功!!</div>
        <div>您的訂單編號是:<span>0987656789</span>></div>
        <div>下方是您的旅遊資訊，請您在過目</div>
    </div>
    <hr class="tksLine">
    <!-- ... 第二個div放中間隨便設計的頁面 ... -->
    <div class="orderPicbox">
        <div>
            <img src="../static/welcome.png"></img>
        </div>
        <!-- 這裡我想放名字訂單跟景點日期時間 -->
    
        <div class="tksText">
            <div>
                <div class="tksSpot">您的景點名稱:<span>陽光城</span></div>
                <div class="tksDate">您的旅遊日期:<span>20210707</span></div>
                <div class="tksTime">您的旅遊時間:<span>下午</span></div>
                <div class="tksNumber">您的訂單編號:<span>1093847</span></div>
            </div>
        </div>
    </div>
    <hr class="tksLine">
    <!-- 這裡想創造出最後一塊東西 -->
    <div class="lastBox">
        <div>
            <div class="tksUser">您好，貴賓:  <span>宏偉</span>   先生女士</div>
            <div class="tkstrip">祝您在這趟旅遊，</div>
            <div class="tkstrip">有個愉快的體驗!!</div>
        </div>
    </div>
    <hr class="tksLine">
    <!-- 這裡放金額 -->
    <div class="tksFeebox">
        <div class="tksMoney">總價:<span>2500</span></div>
        <div>如有疑慮這跟我們做聯絡</div>
    </div>
    
    <footer>
        <p class="coryrightP">COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    
    <script src="../static/js/login.js"></script>
    <script src="../static/js/thankyou.js"></script>
</body>

</html>